body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 0%;
  padding-bottom: 5%;
}
  
.inner-app-wrapper{
  padding: 2%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rosybrown;
}

.link{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.link:visited{
  color: black;
}

.link:hover {
color: rosybrown;
}

.link-to-website{
  color: black;
  margin-right: 2%;
  text-decoration: none;
  font-weight: bold;
}

.link-to-website ~ .link-to-website  {
  margin-left: 2%;
}

.link-to-website:visited{
  color: black;
}

.link-to-website:hover {
color: rosybrown;
}

.links-to-websites{
  display: flex;
  justify-content: left;
}

@media screen and (max-width: 800px){
  .links-to-websites{
      margin-bottom: 15%;
      justify-content: start;
      margin-left: 15%;
      margin-right: 15%;
  }

  .link-to-website ~ .link-to-website  {
    margin-left: 2%;
  }
}

@media screen and (max-width: 375px){
  .links-to-websites{
      margin-bottom: 15%;
      justify-content: start;
      margin-left: 0;
  }
}

.resume-publication-and-project-link {
  text-decoration: underline;
  font-weight: normal;
  margin-left: .5%;
  margin-right: .5%;
}

.heading{
  margin-top: 2%;
  text-align: center;
}

/* style for projects and publications */

.projects-and-publications-heading {
  margin-bottom: 5%;
  text-align: center;
}

.titles-for-project-and-publication-index{
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center
}

.titles-for-project-and-publication-index:visited{
  color: black;
}

.titles-for-project-and-publication-index:hover{
  color: rosybrown;
}

.project-image{
  max-width: 75%;
  cursor: pointer;
}

.project-show-pages{
text-align: center
}

.project-display-image {
  max-width: 400px;
}

@media screen and (max-width: 800px){
  .project-display-image{
    width: 100%;
    max-width: none;
  }
}

.project-description{
 font-size: medium;
 text-align: left;
}

@media screen and (max-width: 800px){
  .project-description{
      text-align: left;
  }
}

@media screen and (max-width: 375px){
  .project-description{
      text-align: left;
      margin-left: 0;
      margin-right: 0;
  }
}

@media screen and (min-width: 885px){
  .project-description{
      padding-top: 1%;
  }
}

.container-for-project-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%
}

.project-link {
  margin-right: 5%;
}

.project-display-image-and-links {
  display: flex;
}

@media screen and (max-width: 800px){
  .project-display-image-and-links{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

.project-links-to-websites{
  display: flex;
  justify-content: left;
}

@media screen and (max-width: 900px){
  .project-links-to-websites{
    display: flex;
    justify-content: left;
      margin-left: 0%;
      margin-right: 0%;
  }
}

.container-for-publication-and-project-index{
  text-align: center;
}

@media screen and (max-width: 800px){
  .container-for-publication-and-project-index{
      text-align: center;
      display:flex;
      justify-content: center;
      flex-direction: column;
  }
}

.heading-for-publication-showpage{
  text-align: center;
  margin-top: 5%   
}

.publications-and-projects-container{
  display: flex;
  margin-top: 5%;
  justify-content: space-evenly;
  margin-bottom: 5%
} 

@media screen and (max-width: 800px){
  .publications-and-projects-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
}

@media screen and (max-width: 800px){
  .publication-and-project-tile{
     margin-bottom: 2%;
     margin-top: 2%
  }
}

.book-image{
  width: 100%;
  height: 80%;
}

@media screen and (max-width: 800px){
  .book-image{
      width: 80%;
      height: 80%;
      text-align: center;
  }
}

.book-container-on-show-page{
  display: flex;
  justify-content: center;
  flex-direction: row
}

@media screen and (max-width: 800px){
  .book-container-on-show-page{
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
}

.book-image-on-show-page{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;  
  margin-top: 5%;
}

@media screen and (max-width: 800px){
  .book-image-on-show-page{
      width: 80%;
      height: 80%;
  }
}

.book-description{
  margin-top: 2%;
  text-align: left;
  width: 25%;
  height: 35%;
  margin-left: 10%;
  margin-top: 2%;
}

@media screen and (max-width: 800px){
  .book-description{
      width: 80%;
      height: 80%;
      margin-top: 2%;
      margin-right: 5%;
      margin-left: 10%
  }
}

/* style for about page */

.container-for-about-page{
  display: flex;
  justify-content: center;
  margin-bottom: 5%
}

@media screen and (max-width: 800px ){
  .container-for-about-page{
  text-align: center;
  display: flex;
  flex-direction: column
  } 
} 

@media screen and (max-width: 800px){
  .about-page{
     text-align: center
  }
}

.profile-photo{
  width: 40%;
  height: 80%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

@media screen and (max-width: 800px){
  .profile-photo{
    text-align: center;
    width: 75%;
    margin-right: 20%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 375px){
  .profile-photo{
    text-align: center;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.second-container-for-about-and-project-page{
  text-align: left;
  margin-left: 5%;
  margin-top: 5px;
  font-size: small;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px){
  .second-container-for-about-and-project-page{
      margin-left: 0;
      text-align: center;  
}
}

@media screen and (min-width: 901px){
  .profile-description{
      text-align: left;
      font-size: large;
  }
}

@media screen and (max-width: 900px){
  .profile-description{
      text-align: left;
      font-size: medium;
  }
}

@media screen and (max-width: 375px){
  .profile-description{
      text-align: left;
      margin-left: 0;
      margin-right: 0;
  }
}

/* style for resume */

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume-header-container {
  display: flex;
  flex-direction: column;
}

.resume-header {
  margin-bottom: 0;
}

.resume-section-header {
  border-bottom: 2px solid;
  padding-bottom: 1%;
  margin-right: 2%;
}

.resume-section-bold {
  font-weight: bold;
}

.resume-paragraph {
  font-size: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

.resume-links {
  justify-content: center;
  margin: 0;
}

.link-for-resume-and-projects {
  font-weight: normal;
}

.ul-resume {
  padding-inline-start: 15px;
  font-size: 90%;
}

.li-resume {
  margin-bottom: 1%;
}

/* navigation bar */
.nav-bar-wrapper {
  display: flex;
  justify-content: center; 
}

@media screen and (max-width: 400px){
  .nav-bar-wrapper {
  font-size: small;

  }
}

.nav-bar-items {
  border-color: black;
  border-width: 5px 0px;
  border-style: solid;
  width: 100%;
  padding: 1em;
  margin: 0em;
  background: azure;
  text-align: center;
  color: black;
  text-decoration: none;
}

.nav-bar-items:active {
  cursor: pointer;
  color: rosybrown;
  text-decoration: none;
  color: black;
}

.nav-bar-items:hover {
  cursor: pointer;
  color: rosybrown;
}
